@model AISV1.Models.File

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>File</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalOfOrganisers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalOfOrganisers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleReception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleReception)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleDiningEst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleDiningEst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleDesertEst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleDesertEst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType.EventTypeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
