@model AISV1.Models.File

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalOfOrganisers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalOfOrganisers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleReception)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleReception)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleDiningEst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleDiningEst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfPeopleDesertEst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfPeopleDesertEst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventType.EventTypeID)
        </dd>
    </dl>

    <div>
        @Html.DisplayNameFor(model => model.Meetings)
        <button class="btn btn-outline-danger">
            <a asp-controller="Meetings" asp-action="Create" asp-route-id="@Model.FileId"> Add a Meeting</a>
        </button>
        @foreach (var item in Model.Meetings)
        {

            <row>
               @Html.DisplayFor(modelItem => item.Name)  |  @Html.DisplayFor(modelItem => item.Location)
            </row>
        }
    </div>
</div>

<div id="accordion">
    <div class="card col-12">
        <div class="card-header" id="headingOne">  
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                @Html.DisplayNameFor(model => model.FileCustomers)
            </button>
            <button class="btn btn-outline-danger">
                <a asp-controller="FileCustomers" asp-action="CreateFileID" asp-route-id="@Model.FileId">Add a customer</a>
            </button>       
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var item in Model.FileCustomers)
                {
                    <row>
                        <div>
                            @Html.DisplayFor(modelItem => item.Customer.FullName) 
                        </div>
                    </row>
                }
            </div>
        </div>
    </div>

    <div class="card col-12">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    @Html.DisplayNameFor(model => model.FileRemarks)
                </button>
                <button class="btn btn-outline-danger">
                    Voeg een opmerking toe
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @foreach (var item in Model.FileRemarks)
                {
                    <row>
                        <div>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </div>
                    </row>
                }
            </div>
        </div>
    </div>

    <div class="card col-12">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    @Html.DisplayNameFor(model => model.FileContactPerson)
                </button>
                <button class="btn btn-outline-danger">
                    Voeg een contact toe
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @foreach (var item in Model.FileContactPerson)
                {
                    <row>
                        <div>
                            @Html.DisplayFor(modelItem => item.ContactPerson.FullName)
                        </div>
                    </row>
                }
            </div>
        </div>
    </div>

    <div class="card col-12">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Reception
                </button>
                <button class="btn btn-outline-danger">
                    Voeg een Receptie toe
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">

            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
